{% extends "lmsapp/base.html" %}

{% load staticfiles %}


{% block container %}


<!--<div class="container" style="margin-top: 3%;">-->
  <div class="row">
    <div class="col-lg-12">
     <h2>Authors List</h2>


     {% if book_list %}
             <table class="table table-bordered">
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>ISBN</th>
                    <th>Authors</th>
                    <th>Publisher</th>
                    <th>Pub_date</th>
                    <th>Available</th>

                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                {% for book in book_list %}
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.price}}</td>
                    <td>{{book.isbn}}</td>
                    <td>{{book.authors}}</td>
                    <td>{{book.publisher}}</td>
                    <td>{{book.publication_date}}</td>
                    <td>{{book.available}}</td>
                    <td><a href="/lms/books/{{book.id}}/" class="btn btn-success">Show</a></td>
                    <td><a href="/lms/books/{{book.id}}/edit" class="btn btn-warning">Edit</a></td>
                    <td><a href="/lms/books/{{book.id}}/delete" class="btn btn-danger">Delete</a></td>


                </tr>

                {% endfor %}

                 </table>
            {% else %}
            <p>No Authors are available.</p>
            {% endif %}

    </div>
  </div>
<!--</div>-->

{% endblock container %}
